body {
    background-color: #61baee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  img {
    width: 150px;
    height: 150px;
  }
  
  .btn {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .btn:hover {
    opacity: 0.8;
  }